/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  visibility: hidden !important;
}

body {
  padding: 20px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.highlight {
  background-color: #CCF9FF;
}

.table>thead>.steps-row>th {
  border-bottom: 0;
  opacity: 0.5;
}
.table>thead>.questions-row> th {
  border-top: 0;
}

.table>thead>.steps-row>th:last-child,
.table>thead>.questions-row>th:last-child {
  border-left: 1px solid #ddd;
}

.table>tbody>tr>td {
  font-size: 14px;
  vertical-align: middle;
}

.completed,
.incomplete {
  text-align: center;
  border-left: 1px solid #ddd;
}
.completed {
  color: green;
}
.incomplete {
  color: red;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.footer {
  margin-top: 20px;
  padding-top: 20px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.loader {
  background-image: url(../img/loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 100%;
}
