/* NEED TO RESET CSS FROM PARENT PAGE */

.wf {
  position: fixed;
  bottom: 0;
  right: 20px;
  max-width: 300px;
  width: 100%;
  max-height: 100%;
  color: white;
  box-sizing: border-box;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}

.wf-clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.wf .tab {
  height: 30px;
  width: 30px;
  text-align: center;
  position: absolute;
  right: 30px;
  top: -20px;
  background: #119DA4;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(12,116,137,1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(12,116,137,1);
  box-shadow: 0px 0px 20px 0px rgba(12,116,137,1);
  cursor: pointer;
  border-radius: 3px 3px 0 0;
}
.wf .tab:after {
  content: "  ";
  height: 20px;
  position: absolute;
  background: #119DA4;
  bottom: -10px;
  left: -20px;
  right: -20px;
}

.wf-poll {
  background: #119DA4;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(12,116,137,1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(12,116,137,1);
  box-shadow: 0px 0px 20px 0px rgba(12,116,137,1);
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}
.wf-poll.open {
  height: auto;
  cursor: auto;
}

.wf-poll div,
.wf-poll h3 {
  display: block;
}

.wf-poll .step {
  display: none;
}
.wf-poll .step.active {
  display: block;
}
.wf-poll .step.thanks {
  padding: 10px;
}
.wf-poll .step.thanks h3 {
  text-align: center;
}

.wf-poll .step .questions {
  padding: 10px;
}
.wf-poll .step label {
  display: inline-block;
  margin-right: 5px;
  font-weight: normal;
}
.wf-poll .step label.q-label {
  display: block;
  margin: 10px 0 5px 0;
  font-size: 1.1em;
}
.wf-poll .step label.q-label.error {
  color: red;
}
.wf-poll .step label.q-label:first {
  margin-top: 0;
}
.wf-poll .step input[type='checkbox'],
.wf-poll .step input[type='radio'] {
  margin: 0 5px;
}
.wf-poll .step input[type='text'],
.wf-poll .step input[type='email'],
.wf-poll .step input[type='tel'],
.wf-poll .step textarea,
.wf-poll .step select {
  width: 100%;
  color: #040404;
  padding: 6px 8px;
  border-radius: 3px;
  border: 1px solid #0C7489;
  resize: none;
}
.wf-poll .step select {
  height: 31px;
}

.wf-poll .step .wf-footer {
  padding: 15px 10px;
  margin-top: 15px;
  border-top: 1px solid #0C7489;
}
.wf-poll .step .wf-footer button {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444;
  border: 1px solid #999;
  border: none rgba(0, 0, 0, 0);
  background-color: #D7D9CE;
  text-decoration: none;
  border-radius:3px;
}
.wf-poll .step .wf-footer button:hover,
.wf-poll .step .wf-footer button:focus {
  filter: alpha(opacity=90);
  background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
  background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.wf-poll .step .wf-footer button:focus {
  outline: 0;
}
.wf-poll .step .wf-footer button:active {
  box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
  border-color: #000;
}
.wf-poll .step .wf-footer button.primary {
  background-color: #13505B;
  color: #fff;
}
.wf-poll .step .wf-footer button.next {
  float: right;
}
.wf-poll .step .wf-footer button.back {
  float: left;
}
