<html ng-app="app">
  <head>
    <title>Warmflask Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}" />
  </head>
  <body>
    <div class="container" ng-controller="mainController">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Poll</a></li>
            <li role="presentation"><a href="mailto:rorokeeffe@gmail.com">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">WarmflaskAdmin</h3>
      </div>
      <div class="page-header">
        <!-- <h1>Warmflask Admin</h1> -->
        <h2 ng-show="POLL" ng-cloak><span class="text-muted">Responses for</span> {a POLL.name a}</h2>
      </div>
      <div class="poll-info-container" ng-show="POLL" ng-cloak>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr class="steps-row">
                <th></th>
                <th></th>
                <th ng-repeat="step in POLL.steps" colspan="{a step.length a}">Step {a ($index + 1) a}</th>
                <th></th>
              </tr>
              <tr class="questions-row">
                <th>ID</th>
                <th>Date</th>
                <th ng-repeat="question in POLL.questions">{a question.wording a}</th>
                <th>Complete?</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="response in responses track by response.id" ng-class="{ highlight: $last && highlightLast }">
                <td>{a response.id a}</td>
                <td highlighter="response.updated_on">{a getFormattedDate(response.updated_on) a}</td>
                <td highlighter="response.answers[question.id].value" ng-repeat="question in POLL.questions">{a response.answers[question.id].value a}</td>
                <td highlighter="response.completed_on" ng-if="response.completed_on" class="completed">&check;</td>
                <td highlighter="response.completed_on" ng-if="!response.completed_on" class="incomplete">&#10005;</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="loader" ng-hide="POLL"></div>
      <footer class="footer">
        <p>&copy; 2017 Warmflask, Inc.</p>
      </footer>
    </div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
